@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7fdfe;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  /* border: 2px solid black; */
}
.weather,
.map {
  border: 2px solid red;
}
.weather {
  padding: 40px;
  width: 60%;
  margin-top: 150px;
}
.map {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  z-index: -1;
  /* overflow: hidden; */
}
